.insight_wrapper {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(116, 116, 165, 0.2) 0px 7px 29px 0px;
}
.icon_and_table {
  display: flex;
  gap: 10px;
  padding: 12px;
}

.card_heading {
  background: rgb(214, 229, 249);
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 5px 5px 0 0;
}

.insight_table_wrapper {
  border-radius: 11px;
  overflow: hidden;
  border: 1px solid rgba(205, 205, 205, 0.471);
}

.image_section img {
  width: 50px;
  height: 50px;
}
.insight_table_wrapper table {
  border-collapse: collapse;
  width: 100%;
  overflow: hidden;
  margin-bottom: 0;
  table-layout: fixed;
  height: 100%;
}

.insight_table th,
.insight_table td {
  text-align: center;
  padding: 19px 8px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid rgba(205, 205, 205, 0.471);
}

.insight_table td {
  font-family: monospace;
  background: rgb(255, 255, 255);
}
.insight_table th {
  background-color: #1f77b4;
  font-size: 14px;
  color: #faf8f8 !important;
  border: 1px solid white;
  text-wrap: wrap;
  letter-spacing: 0.8px;
  font-family: sans-serif;
}

/* Applying border-radius to specific cells */
.insight_table thead th:first-child {
  border-top-left-radius: 10px;
}
.insight_table thead th:last-child {
  border-top-right-radius: 10px;
}

.insight_table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
.insight_table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

@media screen and (max-width: 900px) {
  .icon_and_table {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .insight_table_wrapper {
    width: 100% !important;
  }
}
