.container {
  padding: 0 20px 20px 20px;
}

.button {
  background-color: #0f136d;
  color: white;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid #0f136d;
}
button:hover:not(:disabled) {
  background: transparent;
  color: #0f136d;
  font-weight: 600;
}
button:disabled {
  background: #2d3079;
  cursor: not-allowed;
}
.required {
  color: red;
}
