.form-control {
  padding: 6px 5px !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.form-select:focus,
.form-control:focus,
.form-select:focus-visible,
.form-control:focus-visible {
  border-color: transparent;
  box-shadow: none;
  outline: 1px solid rgba(0, 0, 0, 0.39);
}
.css-1u9des2-indicatorSeparator {
  background-color: transparent !important;
}

.react-select {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}
.css-13cymwt-control {
  box-shadow: none !important;
  border-color: transparent;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card {
  background: white;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.119);
  padding: 20px;
  width: 33%;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  text-align: center;
  box-shadow: rgba(116, 116, 165, 0.2) 0px 7px 29px 0px;
  transition: 0.3s;
}
.card_img {
  width: 50px;
  height: 50px;
}
.font_weight_700 {
  font-weight: 700;
  font-size: 14px;
}
.card_second {
  background: white;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.119);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 45%;
  text-align: center;
  box-shadow: rgba(116, 116, 165, 0.2) 0px 7px 29px 0px;
  transition: 0.3s;
}
.quick_action img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.left_line {
  background: #042998;
  height: 30px;
  width: 4px;
  border-radius: 0 10px 10px 0;
}
.text_blue {
  color: #042998;
}
.accordion_title {
  background-color: #d6e5f9;
  border: 1px solid #abcdfaba;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  color: #042998;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
