.columnHeader {
  white-space: nowrap;
  width: auto;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: rgb(2, 19, 126) !important;
}
.css-1hdg57s-MuiTableRow-root td {
  padding: 10px !important;
}
.css-1t48e2w-MuiTableCell-root {
  padding: 10px;
}

.css-lapokc {
  text-overflow: inherit !important;
  text-wrap: wrap !important;
}
.css-1clpn7n-MuiTableCell-root {
  text-overflow: inherit !important;
  text-wrap: wrap !important;
  white-space: pre-wrap !important;
  word-break: break-all !important;
}
