.header_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 1px solid #cdced563;
}
.header_contaier {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.vas_title {
  font-size: 16px;
  color: #27292f;
  font-weight: 700;
}
a {
  color: #27292f;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}
.home_icon {
  width: 20px;
  height: 20px;
}
.arn_no_text {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.arn_no_text span {
  font-weight: 700;
  padding: 0;
}
.border_bottom {
  background: #cdced563;
  height: 1px;
  width: 100%;
}
.user_name {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  background: black;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
.user_name:hover {
  background-color: white;
  color: black;
}
.scroll_link {
  color: #042998;
  font-weight: 700;
  font-family: sans-serif;
  cursor: pointer;
}
.scroll_link span {
  opacity: 0.5;
  color: #042998;
  font-weight: 700;
}
.bottom_header {
  backdrop-filter: blur(4px);
  background-color: rgba(214, 229, 249, 0.626);
  width: 100%;
}
