.header_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 1px solid #cdced563;
  font-size: 12px !important;
}
.header_contaier {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.vas_title {
  color: #27292f;
  font-weight: 700;
  font-size: 18px;
}
a {
  color: #27292f;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}
.home_icon {
  width: 20px;
  height: 20px;
}
.arn_no_text {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.arn_no_text span {
  font-weight: 700;
  padding: 0;
}
.border_bottom {
  background: #cdced563;
  height: 1px;
  width: 100%;
}
.user_name {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #27292f;
  color: white;
  cursor: pointer;
  font-weight: 600;
}
.user_name:hover {
  background-color: white;
  color: #27292f;
}
.scroll_link {
  font-weight: 600;
  font-size: 13px;
  font-family: sans-serif;
  color: #1a1b1fa4 !important;
  cursor: pointer;
}
.scroll_link span {
  color: #1a1b1f;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.scroll_link:hover {
  color: #1f77b4 !important;
}

.bottom_header {
  backdrop-filter: blur(4px);
  background-color: rgba(249, 249, 249, 0.384);
  width: 100%;
}
.menu_section {
  position: absolute;
  top: 40px;
  width: 250px;
  background: white;
  right: -100px;
  height: auto;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.212);
}

.intials {
  background: black;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.intials:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  background: transparent;
  color: black;
}

.menu_section h6 {
  font-size: 15px;
  font-weight: 600;
}
.menu_section button {
  width: 100%;
  background: black;
  border: 1px solid black;
  padding: 5px 20px;
  color: white;
  border-radius: 5px;
}
.menu_section button:hover {
  background: white;
  color: black;
}
.activeLink {
  font-weight: 600 !important;
  color: #1f77b4 !important;
}
.home_img {
  width: 20px;
  height: 20px;
}
.link_wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 900px) {
  .logo_second {
    display: none;
  }
  .menu_section {
    right: -10%;
  }
}

.menuIcon {
  display: none;
}
.menuIcon img {
  width: 20px;
  height: 20px;
}

.mobile_link_section {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: black;
  width: 90%;
  margin: 0 auto;
  padding: 20px 10px;
  gap: 15px;
}

.user_details {
  display: none;
}

.mobile_menu {
  position: absolute;
  top: 35px;
  width: 200px;
  background: white;
  right: -10%;
  height: auto;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.212);
}
@media screen and (max-width: 700px) {
  .bottom_header,
  .link_wrapper {
    display: none;
  }
  .menuIcon {
    display: block !important;
    cursor: pointer;
  }
  .user_details {
    display: block !important;
  }
}
