/* *********************************Header css*************************************** */
.div {
  justify-content: center;
  box-shadow: 0px 4px 12px 0px rgba(120, 120, 120, 0.14);
  background-color: var(--White, #fff);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.div_2 {
  align-items: center;
  border-bottom: 1px solid var(--Main-Stroke, #cdced5);
  background-color: var(--White, #fff);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 14px 64px;
}

@media (max-width: 991px) {
  .div_2 {
    max-width: 100%;
    flex-wrap: wrap;
    padding: 0 20px;
  }
}

.div_3 {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 16px;
  color: var(--Text-Heading, #27292f);
  font-weight: 700;
  margin: auto 0;
}

.img {
  aspect-ratio: 4;
  object-fit: auto;
  object-position: center;
  width: 128px;
  max-width: 100%;
}

.div_4 {
  font-family: Uni Neue, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}

.div_5 {
  border-radius: 8px;
  border: 1px solid var(--Main-Stroke, #cdced5);
  background-color: var(--Main-Input-field-bkg, #f3f4f6);
  align-self: stretch;
  display: flex;
  flex-grow: 1;
  flex-basis: 0%;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  color: var(--Text-Caption, #9b9fb0);
  font-weight: 500;
  line-height: 150%;
}
.div_6 {
  border-radius: 8px;
  border: 1px solid var(--Main-Stroke, #cdced5);
  background-color: var(--White, #fff);
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 9px 16px;
}
.img_2 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 16px;
  align-self: start;
}
.div_7 {
  font-family: Uni Neue, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
}
.div_8 {
  justify-content: space-between;
  align-self: stretch;
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: var(--Text-Heading, #27292f);
  font-weight: 700;
  white-space: nowrap;
  line-height: 143%;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div_8 {
    white-space: initial;
  }
}
.div_9 {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
@media (max-width: 991px) {
  .div_9 {
    white-space: initial;
  }
}
.div_10 {
  font-family: Uni Neue, sans-serif;
  flex-grow: 1;
  margin: auto 0;
}
.img_3 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
}
.div_11 {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
@media (max-width: 991px) {
  .div_11 {
    white-space: initial;
  }
}
.div_12 {
  font-family: Uni Neue, sans-serif;
  flex-grow: 1;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div_12 {
    white-space: initial;
  }
}
.img_4 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
}
.div_13 {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
@media (max-width: 991px) {
  .div_13 {
    white-space: initial;
  }
}
.div_14 {
  font-family: Uni Neue, sans-serif;
  flex-grow: 1;
  margin: auto 0;
}
@media (max-width: 991px) {
  .div_14 {
    white-space: initial;
  }
}
.img_5 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
}
.div_15 {
  justify-content: space-between;
  align-self: stretch;
  display: flex;
  gap: 16px;
  margin: auto 0;
}
.img_6 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
}
.img_7 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
  height: 27px;
  margin-top: 5px;
}
.img_8 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 24px;
}
.img_9 {
  aspect-ratio: 4.55;
  object-fit: auto;
  object-position: center;
  width: 81px;
  margin: auto 0;
}
.div_16 {
  align-items: start;
  border-bottom: 1px solid var(--Main-Stroke, #cdced5);
  background-color: var(--White, #fff);
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  color: var(--Text-Heading, #27292f);
  font-weight: 700;
  line-height: 20px;
  padding: 8px 60px;
}
@media (max-width: 991px) {
  .div_16 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div_17 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div_17 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.div_18 {
  font-family: Uni Neue, sans-serif;
  flex-grow: 1;
}
.div_19 {
  font-family: Uni Neue, sans-serif;
}
.div_20 {
  font-family: Uni Neue, sans-serif;
  line-height: 143%;
  margin: auto 0;
}
.div_21 {
  font-family: Uni Neue, sans-serif;
}
.div_22 {
  font-family: Uni Neue, sans-serif;
}
.div_23 {
  font-family: Uni Neue, sans-serif;
}
.div_24 {
  font-family: Uni Neue, sans-serif;
}
