/* .option-cls__menu{
    width: 300px !important;
}

.option-cls__option{
    clear:both;
    display:inline-block;
    overflow:hidden;
    white-space:unset 
}

@media screen and (min-width: 768px) {
    .option-cls__menu{
        width: 350px !important;
    }
}

@media screen and (min-width: 1200px) {
    .option-cls__option{
        white-space:nowrap 
    }
    .option-cls__menu{
        min-width: 150px;
        width: auto !important;
        max-width: 500px;
    }
} */


/* [class$="-menu"][class$="-menu"] {
    z-index: 2 !important;
} */

[class^="css-"][class$="-menu"] {
    z-index: 2 !important;
}

.option-cls__menu{
    width: 300px !important;
    /* max-width: 250px; */
    z-index: 11 !important;
}

.option-cls__option{
    clear:both;
    display:inline-block;
    overflow:hidden;
    white-space:unset;
    /* white-space:"normal"; */
}

@media screen and (min-width: 768px) {
    .option-cls__option{
        /* white-space:nowrap  */
    }
    .option-cls__menu{
        width: 350px !important;
        /* max-width: 350px; */
    }
}

@media screen and (min-width: 1200px) {
    .option-cls__option{
        white-space:nowrap 
    }
    .option-cls__menu{
        min-width: 150px;
        width: auto !important;
        max-width: 500px;
    }
}

.selected-value-trunc {
    width: 85px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .react-select__indicators { display: none; } */

#product_family .option-cls__input-container , #vc_number .option-cls__input-container , #product_description .option-cls__input-container , #line .option-cls__input-container{
    display: none !important;
}

#product_family .option-cls__value-container , #vc_number .option-cls__value-container , #product_description .option-cls__value-container , #line .option-cls__value-container{
    padding: 1px 5px !important;
    font-size: 13px !important;
}

#line .option-cls__control , #product_family .option-cls__control , #vc_number .option-cls__control , #product_description .option-cls__control{
    height: 30px;
    min-height: 30px;
}

#line .option-cls__indicator , #product_family .option-cls__indicator , #vc_number .option-cls__indicator , #product_description  .option-cls__indicator{
    padding: 1px;
}