/* styles.css */
.custom-table {
  font-size: 1px;
}

.custom-table .material-react-table-cell {
  font-size: 1px;
}

.MuiTableCell-head,
.MuiTableCell-root {
  display: flex !important;
  justify-content: start !important;
  align-items: start !important;
  text-align: left !important;
}
