.container_wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}
.layout_wrapper {
  padding-top: 120px;
  overflow: hidden;
}
.filter_wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.142);
  padding: 10px;
  background: rgba(255, 255, 255, 0.46);
}

.filter {
  width: 90%;
  margin: 0 auto;
}
.search_button {
  background: #042998;
  padding: 7px 30px;
  color: white;
  height: max-content;
  border: 1px solid #042998;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.search_button:hover {
  background: transparent;
  color: #042998;
}
