@font-face {
  font-family: "Uni Neue";
  src: url("./assets/fonts/UniNeue.ttf");
}

body {
  font-family: "Uni Neue", sans-serif !important;
}
::-webkit-scrollbar {
  overflow: auto;
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #dddddd;
  border-radius: 1px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
}

::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 10px;
}
.view-box {
  width: 100%;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(116, 116, 165, 0.2) 0px 7px 29px 0px;
}

.box-body {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.loader-container {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.tileHeading {
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  font-size: 32px !important;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-bottom: 20px;
}
.cnt {
  font-weight: 700;
  font-size: 15px;
  opacity: 0.7;
  text-align: center;
}

.tile_sec {
  border-radius: 8px;
  background-color: #ffffff;
  background-color: #ffffff30;
  padding: 24px 16px;
  aspect-ratio: 1;
  color: #004aaf;
  box-shadow: rgba(116, 116, 165, 0.2) 0px 7px 29px 0px;
  transition: 0.3s;
}
.tile_sec:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}
.tile_sec img {
  width: 65px;
  height: 60px;
}
.tile_sec_head {
  font-size: 12px;
}
.cnt_img {
  width: 100px !important;
  height: 80px !important;
}
.gen_sub_title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: "#000000";
  border-bottom: 1px solid #00000030;
}

.form_group {
  width: 25%;
  max-width: 230px;
  min-width: 150px;
}
.form_group label {
  font-size: 14px;
  font-weight: 600;
}

.loading_wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0606c269;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.main_table_wrapper {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.437);
  overflow: scroll;
}
.fleet_link {
  cursor: pointer !important;
  text-decoration: underline;
}
.fleet_link:hover {
  font-weight: 700 !important;
  color: #1f77b4 !important;
}

.recharts-legend-wrapper {
  width: 200px !important;
  word-wrap: break-word;
}
@media (min-width: 768px) {
  .recharts-legend-wrapper {
    width: 280px !important;
  }
}
.renewal_link {
  text-decoration: none !important;
  color: black !important;
  font-size: 1.25rem;
}
.tile:hover {
  color: #004aaf;
  cursor: pointer;
}
.text_red {
  color: red;
}
.cursor_pointer {
  cursor: pointer;
}
a {
  text-decoration: none !important;
  color: #27292f !important;
}
a:hover {
  color: #1f77b4 !important;
  font-weight: 600 !important;
}
.fleet_uptime_icon {
  width: 70px;
  height: 70px;
}
.js-plotly-plot .user-select-none {
  margin: auto;
}
.box-body .js-plotly-plot {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.insight_tables_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100%;
  align-items: stretch;
}
.bar_graph_section {
  width: 50%;
}
.tables_insight {
  display: flex;
  flex-direction: column;
  gap: 6%;
  align-items: center;
  flex-grow: 1;
  width: 50%;
}
@media screen and (max-width: 900px) {
  .insight_tables_wrapper {
    flex-direction: column;
  }
  .tables_insight,
  .bar_graph_section {
    width: 100%;
  }
}
